* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}
form input {
  border: 0;
  padding: 10px;
  margin-right: 20px;
}
form input.error::placeholder {
  color: red;
}
form input#message {
  flex-grow: 1;
}
form input#name {
  width: 100px;
}
form button {
  width: auto;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
  text-align: right;
}
#messages li.left {
  text-align: left;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#messages {
  margin-bottom: 40px;
}
